# Python 
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Logging
*.log

# IDE files
.vscode/

# Virtual Environment
.venv/

# .env Variables
.env
*.env

# Ignore everything in the instance folder by default
instance/*

# Allow git to track the config logic
!instance/config.py