<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />

    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='images/favicon-32x32.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="apple-touch-icon"
      href="{{ url_for('static', filename='images/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}"
    />
    {% block head %}{% endblock %}
    <title>{% block title %}Portibot{% endblock %}</title>
  </head>
  <body class="page--{% block body_class %}default{% endblock %}">
    <nav class="navbar" id="main-navbar">
      <div class="container navbar__inner">
        <a
          href="{{ url_for('home.index') }}"
          class="navbar__brand navbar__link"
        >
          <span class="navbar__brand-porti">Porti</span>
          <span class="navbar__brand-bot">Bot</span>
        </a>
        <ul class="navbar__links">
          <li>
            <a href="{{ url_for('home.index') }} " class="navbar__link">Home</a>
          </li>
          <li class="navbar__cta">
            <a
              href="{{ url_for('upload.upload_page') }}"
              class="btn btn--secondary navbar__link"
              style="padding: 6px 16px; font-size: 0.85rem"
            >
              Get Started
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main>{% block body %}{% endblock %}</main>

    {% block footer %}
    <footer class="footer">
      <div class="container">
        <p>&copy; 2026 Peter Siawish</p>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
