{% extends "base.html" %} {% block title %}Results{% endblock %} {% block head
%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/preview_portfolio.css')}}"
/>
{% endblock %} {% block body %}
<h2>
  <a href="{{url_for('results.show_results', session_id=session_id)}}">
    Go back to the results?
  </a>
  Website:
  <a href="#website">Focus on ur website</a>
  <a href="{{url_for('preview.download_portfolio', session_id=session_id)}}">
    Download your website!
  </a>
</h2>
<section id="website">
  <iframe
    src="{{url_for('preview.portfolio_endpoint', session_id=session_id)}}"
    frameborder="0"
    width="100%"
    height="800px"
  ></iframe>
</section>

{% endblock %}
